canvas {
  /* position: absolute; */
  /* position: relative; */
  /* margin: auto; */
  width: max-content;
  z-index: 10;
  height: 90vh;
  width: 100%;

}

.mapContainer {
  display: flex
}

img {
  height: 90vh;
  margin: auto;
  /* display: none; */
  z-index: 1;
}